html, body {
  margin: 0;
  padding: 0;

  background: #833AB4;
  background: radial-gradient(circle,rgba(252, 176, 69, 1 ) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
  height: 100%;
  overflow: hidden;
}


canvas {
  display: block;
}
